*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    width: 100vw;
    height: 50px;
}

body{
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: flex-end;
}

.nav .nav__ul{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    padding-left: 15px;
}

.nav__ul a{
    margin-right: 10px;
    color: #000;
}

.menu-image{
    padding-left: 6px;
}

.menu-icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-left: 24px;
}

.menu-photo img{
    border-radius: 50%;
    margin-left: 19px;
}

main{
    margin-top: 54px;
    text-align: center;
}

.main-logo{
    width: auto;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-input__container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-input__container input{
    width: 450px;
    height: 40px;
    outline: none;
    border: none;
}

.main-input .search-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
}

.main-input .micro-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    cursor: pointer;

}

.main-input .micro-icon,
.main-input .search-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

.main-input__container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

